<link rel="stylesheet" href="~/css/index.css">

@{
    ViewData["Title"] = "Home";
}

<main> 
    @* Receitas do usuário e recomendações *@
    
    <section class="your-recipes">
        <h1 class="main-h1">Suas Receitas</h1>
        <a href="/receita/create" class="add-recipe">Adicionar Receita</a>
    </section>

    <section>
        @if(Model != null)
        {
            @foreach (Usuario u in Model)
            {
                <p>@u.idUsuario</p>
                <p>@u.nome</p>
                <p>@u.email</p>
                <p>@u.senha</p>
                <p>@u.idade</p>
            }  
        }
    </section>

    <h1 class="main-h1">Para você</h1>
    <h1 class="main-h1">Em Alta &#10022;</h1>
</main>
